@page "/Cobros/Delete/{CobroId:int}"
@rendermode InteractiveServer
@inject CobroService cobroService
@inject NavigationManager navigation

<PageTitle>Eliminar cobro</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		<div class="card-header">
			<h2 class="card-title text-center">Eliminar cobro</h2>
		</div>
		<div class="card-body">
			<h5 class="card-title">¿Seguro de que deseas eliminar el cobro?</h5>
			<div>
				@*Datos*@
				<div>ID: @Cobro.CobroId</div>
				<div>Deudor ID: @Cobro.DeudorId</div>
				<div>Fecha: @Cobro.Fecha</div>
				<div>Monto: @Cobro.Monto</div>
			</div>
			<div class="border border-success p-3 mt-3">
				<div>
					@foreach (var Detalles in Cobro.CobroDetalle)
					{
						<div>Detalle Id: @Detalles.DetalleId</div>
						<div>Cobro ID: @Detalles.CobroId</div>
						<div>Deudor ID: @Detalles.PrestamoId</div>
						<div>Monto: @Detalles.ValorCobrado</div>

					}
				</div>
			</div>

		</div>
		<div class="card-footer">
			<a href="/Cobros/Index" class="btn btn-outline-secondary bi bi-arrow-left"> Volver</a>
			<button @onclick="Eliminar" class="btn btn-outline-danger bi bi-trash" type="submit"> Eliminar</button>
		</div>
	</div>

</div>
@code {
	[Parameter]
	public int CobroId { get; set; }
	public Cobros Cobro { get; set; } = new Cobros();
	public List<CobroDetalle> ListDetalles { get; set; } = new List<CobroDetalle>();


	protected override async Task OnInitializedAsync()
	{
		Cobro = await cobroService.Buscar(CobroId);
	}

	public async Task Eliminar()
	{
		var eliminar = await cobroService.Eliminar(CobroId);
		if (eliminar)
		{
			navigation.NavigateTo("/Cobros/Index");
		}
	}
}